* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* body > div#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
} */
